@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
  color: #ffff;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-image: url("images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.shows-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.show-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.4rem;
  border: solid 2px #5a5a5a;
}

.show-image__container {
  width: 100%;
}

.show-image {
  width: 100%;
}

.show-name {
  font-size: 1.5rem;
  color: red;
}

.like-and-comment {
  display: flex;
  justify-content: space-between;
  color: #ffff;
}

.comment-button,
.like-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  background-color: transparent;
  border: none;
  height: 1.5rem;
}

.icon {
  color: white;
}

.icon,
.comments,
.likes {
  font-size: 1.2rem;
}

@media screen and (min-width: 450px) {
  .shows-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .shows-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .shows-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
